.mobileTweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobileTweetTopRow {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 15, 15);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 10px 15px;
}

.font {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.bold {
  font-weight: 700;
}

.cancelSpan {
  font-size: 20px;
}

.mobileTweetButton {
  background-color: rgb(28, 155, 239);
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 16px;
}

.mobileTweetInputDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileTweetInput {
  margin-top: 20px;
  width: 80%;
  border: 1px solid red;
  background-color: black;
  font-size: 18px;
  height: 30vh;
  resize: none;
}
