.editProfileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  width: 89.3%;
  top: 0px;
  background-color: rgb(255, 255, 255, 0.93);
  z-index: 1;
}
.editProfileLeftHeader {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 22px;
  font-weight: 700;
}
#editProfileCloseIcon {
  padding: 5px;
}
#editProfileCloseIcon:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 207);
  border-radius: 50%;
}
#editProfileSaveButton {
  border: none;
  border-radius: 25px;
  background-color: black;
  color: white;
  padding: 8px 15px;
  font-size: 18px;
  font-weight: 700;
}
#editProfileSaveButton:hover {
  cursor: pointer;
  background-color: rgb(43, 43, 43);
}
#editProfileGreyBackground {
  background-color: rgb(178, 178, 178);
  height: 250px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.editProfileCameraIcon {
  border-radius: 50px;
  background-color: rgb(87, 87, 87, 0.5);
  padding: 10px;
}
.editProfileCameraIcon:hover {
  cursor: pointer;
  background-color: rgb(110, 110, 110, 0.5);
}

#editProfileCameraIconBackgroundPic {
  position: relative;
  left: 275px;
  top: 100px;
}
#editProfileCameraIconWithRealBackgroundPic {
  position: relative;
  left: 275px;
  top: -230px;
}
#editProfileCameraIconProfilePic {
  position: relative;
  right: 103px;
  bottom: 200px;
}

.editProfileInputs {
  width: 97%;
  margin: 20px 10px;
}
.editProfileInput {
  margin-top: 30px !important;
}
.editProfileProfilePicture {
  position: relative;
  bottom: 150px;
  border-radius: 50%;
  border: 3px solid white;
}
.editProfileScrollBar {
  height: 800px;
  overflow-y: auto;
}

.editProfileRemoveMargin {
  margin-bottom: -180px;
}
#editProfileErrorMessage {
  color: rgb(255, 81, 81);
  font-size: 20px;
  margin: 20px 10px 5px 10px;
  font-weight: 700;
}

.editProfileRealProfilePicture {
  border-radius: 50%;
  height: 155px;
  width: 155px;
}
.editProfileRealBackgroundPicture {
  height: 250px;
  width: 100%;
  z-index: 0;
}

@media (min-width: 0px) and (max-width: 750px) {
  #editProfileMobile {
    width: 330px;
    height: 530px;
    overflow-y: visible;
  }
  .editProfileScrollBar {
    height: 800px;
    overflow-y: scroll;
  }
  #editProfileCameraIconWithRealBackgroundPic {
    position: relative;
    left: 43%;
  }
}
