#feed {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-grow: 1;
}

.flex {
  display: flex;
}
input {
  appearance: none;
  outline: none;
  border: 0;
  outline: 0;
  font-size: 40px;
}
#feedContainer {
  border: 1px solid rgb(239, 243, 244);
  padding: 10px 0px 0px 20px;
}
#feedCreateTweet {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
#feedTweetButton {
  background-color: rgb(29, 155, 239);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
}
.incompleteColor {
  background-color: rgb(154, 205, 248) !important;
  cursor: no-drop !important;
}
#mainBodyHomePage {
  display: flex;
  justify-content: space-between;
}
#allContent {
  /* border: 3px solid red; */
  flex: 6.5;
}

.feedProfilePicture {
  border-radius: 50%;
  height: 80px;
  margin-right: 20px;
}
