.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 50px;
}

.iconButton {
  display: flex;
  gap: 1rem;
  border-radius: 50px !important;
  padding: 10px !important;
}

.iconButton:hover {
  background-color:lightgray !important;
}

.buttonLabel {
  font-size: 20px;
  color: black;
  text-transform: capitalize;
}

.icon {
  transform: scale(1.3);
  color: black;
}

#twitterIcon {
  color: #1c9bef;
}

#twitterButton {
  padding: 10px;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px !important;
}

#twitterButton:hover {
  background-color: rgb(229, 248, 255);
  cursor: pointer;
}

#tweetButton {
  border-radius: 50px !important;
  padding: 10px !important;
  background-color: #1c9bef;
  width: 100%;
  margin-top: 1rem;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}

.iconNavBarContainer{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: 97vh;
  justify-content: space-between;
}

#iconNavBarSignout{
  display: flex;
  align-items: center;
  border-radius: 25px;
  gap: 15px;
}
#iconNavBarSignout:hover{
  background-color: rgb(239,243,244) !important;
}
#iconNavBarNames{
  display: flex;
  flex-direction: column;
  padding : 10px
}
#iconNavBarName{
  font-weight: 700;
}
#iconNavBarUsername{
  color: rgb(83,99,113);
}
.iconNavBarFont{
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.sticky {
  position: sticky;
  top: 20px;
  
}
