#loginTopIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loginFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.middle {
  display: flex;
  justify-content: center;
}

#loginTwitterLogo {
  height: 40px;
  width: 40px;
  margin-right: 30px;
}

.loginCloseButton {
  padding: 5px;
}
.loginCloseButton:hover {
  background-color: lightgray !important;
  border-radius: 50%;
  cursor: pointer;
}

#loginHeader {
  font-size: 31px;
  font-weight: 700;
  margin-top: 20px;
}

#loginEmailInput {
  margin: 25px 0px;
}

.loginButtonShape {
  border-radius: 25px;
  border: none;
  padding: 10px 30px;
  font-size: 15px;
  width: 210px;
}
#loginButton {
  color: white;
  background-color: rgb(15, 20, 26);
  margin-top: 20px;
  font-weight: 700;
  cursor: pointer;
}

#registerLink {
  color: rgb(29, 155, 240);
  text-decoration: none;
  cursor: pointer;
}

#loginQuestion {
  color: rgb(83, 99, 113);
  margin-top: 50px;
}

.loginErrorMessage {
  color: #d32f2f;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}
