#loginTopIcons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loginFont{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.middle{
  display: flex;
  justify-content: center;
}
#loginTwitterLogo{
  height: 40px;
  width : 40px
}

.test{
  color: pink;
}

.loginCloseButton{
  padding:5px
}
.loginCloseButton:hover {
  background-color:lightgray !important;
  border-radius: 50%;
}

#loginHeader{
  font-size: 31px;
  font-weight: 700;
  margin-top: 20px;
}

#loginEmailInputDiv{
  border : 1px solid rgb(133, 135, 136)
}
#loginEmailInput::placeholder{
  margin-top: 200px;
  color: red;
}