.messageMainDiv {
  border: 1px solid rgb(239, 243, 244);
  flex-grow: 1;
  height: 98.5vh;
}

.messagesProfileSection {
  width: 30vw;
  overflow: scroll;
  overflow-x: hidden;
  max-width: max-content;
  min-width: 30vw;
}

.messagesConvoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-stretch: condensed;
  padding-left: 10vw;
  width: 40vw;
}

.messagesHeader {
  font-size: 22px;
  font-weight: bold;
  padding: 0px 20px;
  padding-top: 20px;
}

.messagesSearchBar {
  border-radius: 25px;
  border: 2px solid rgb(133, 135, 136);
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
}
.messagesSearchBar:focus {
  border: 2px solid rgb(70, 168, 242);
}
.messagesSearchBar::placeholder {
  color: rgb(83, 99, 113);
  text-align: center;
}

.divForSearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  padding-bottom: 20px;
}

.messagesProfileCard {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.messagesProfileCard:hover {
  background-color: rgb(239, 243, 244) !important;
}

#messagesConvoSectionHeader {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}

#messagesConvoSectionSubHeader {
  color: rgb(139, 141, 143);
  font-size: 17px;
  width: 25vw;
  margin-bottom: 20px;
}

.profileMessageCardProfilePicture {
  border-radius: 50%;
  height: 45px;
  margin: 5px 10px 5px 5px;
}
.profileMessageCardNames {
  font-weight: 700;
}
.profileMessageCardUsername {
  color: rgb(128, 128, 128);
}
