.mobileNavbar {
  display: none;
}

@media (min-width: 0px) and (max-width: 750px) {
  .mobileNavbar {
    display: flex;
    position: fixed;
    height: 80px;
    width: 100%;
    bottom: 0px;
    background-color: rgba(255, 255, 255);
    border-top: 2px solid rgb(239, 243, 244);
    justify-content: center;
    gap: 30px;
  }
}
