#profilePage {
  display: flex;
}
#profilePageUser {
  flex: 6.5;
}

#profilePageHeader {
  display: flex;
}
#tempImage {
  height: 250px;
  background-color: #7bc2f8;
  border: 4px solid grey;
}
#userPic {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
#bottomOfPicture {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 10px 0px 15px 0px;
}
.profileEditOrFollowButton {
  border-radius: 25px;
  border: 2px solid rgb(207, 217, 222);
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 20px;
  width: 130px;
}
.status {
  border-radius: 25px;
  border: 2px solid rgb(207, 217, 222);
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 700;
  width: 130px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.follow {
  background-color: black;
  color: white;
  width: 100px !important;
}
.follow:hover {
  background-color: rgb(41, 38, 38);
}
.following:hover span {
  display: none;
}
.following:hover:before {
  content: "Unfollow";
}
.following:hover {
  background-color: rgb(253, 185, 185);
  color: rgb(252, 59, 59);
  border-color: rgb(250, 166, 166) !important;
}

.flex {
  display: flex;
}

#follows {
  gap: 20px;
}
