#profilePage {
  display: flex;
}
#profilePageUser {
  flex: 6.5;
}

#profilePageHeader {
  display: flex;
}
#tempImage {
  height: 250px;
  background-color: #7bc2f8;
  border: 4px solid grey;
}
#userPic {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
#bottomOfPicture {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 10px 0px 15px 0px;
}
#profileEditProfileButton{
  border-radius: 25px;
  border : 2px solid  rgb(207,217,222);
  background-color: white;
  color : black;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 20px;
}
.flex {
  display: flex;
}

#follows {
  gap: 20px;
}

